@use "sass:color";
@use "fallback/material" as material;
@use "colors" as colors;
@use "mixins" as mixins;

$sidebar_chat_textboxareaColor: color.mix(
  material.$onSurfaceVariant,
  material.$surfaceVariant,
  40%
);

@mixin group-padding {
  padding: 0.341rem;
}

.sidebar-right {
  @include mixins.menu_decel;
  @include mixins.elevation-border;
  @include mixins.elevation2;
  border-radius: mixins.$rounding_large - mixins.$elevation_margin + 0.068rem;
  min-width: 27.818rem;
  background-color: material.$background;
  padding: 1.023rem;
}

.sidebar-left {
  @include mixins.menu_decel;
  @include mixins.elevation-border;
  @include mixins.elevation2;
  border-radius: mixins.$rounding_large - mixins.$elevation_margin + 0.068rem;
  min-width: 27.818rem;
  background-color: material.$background;
  padding: 1.023rem;
}

.sidebar-group {
  @include mixins.normal-rounding;
  @include group-padding;
  background-color: colors.$layer1;
}

.sidebar-group-nopad {
  @include mixins.normal-rounding;
  background-color: colors.$layer1;
}

.sidebar-group-invisible {
  @include group-padding;
}

.sidebar-group-invisible-morehorizpad {
  padding: 0.341rem 0.682rem;
}

.sidebar-togglesbox {
  @include mixins.full-rounding;
  @include group-padding;
  background-color: colors.$layer1;
}

.sidebar-iconbutton {
  @include mixins.full-rounding;
  @include mixins.element_decel;
  color: material.$onSurface;
  min-width: 2.727rem;
  min-height: 2.727rem;
}

.sidebar-iconbutton:hover,
.sidebar-iconbutton:focus {
  background-color: colors.$layer1Hover;
}

.sidebar-iconbutton:active {
  background-color: colors.$layer1Active;
}

.sidebar-button-active {
  background-color: material.$primary;
  color: material.$onPrimary;
}

.sidebar-button-active:hover,
.sidebar-button-active:focus {
  background-color: color.mix(material.$primary, colors.$layer1Hover, 70%);
}

.sidebar-button-active:active {
  background-color: color.mix(material.$primary, colors.$layer1Active, 40%);
}

.sidebar-buttons-separator {
  min-width: 0.068rem;
  min-height: 0.068rem;
  background-color: material.$onSurfaceVariant;
}

.sidebar-navrail {
  padding: 0rem mixins.$rounding_medium;
}

.sidebar-navrail-btn > box > label {
  @include mixins.full-rounding;
  @include mixins.menu_decel;
}

.sidebar-navrail-btn:hover > box > label:first-child,
.sidebar-navrail-btn:focus > box > label:first-child {
  background-color: colors.$layer1Hover;
}

.sidebar-navrail-btn:active > box > label:first-child {
  background-color: colors.$layer1Active;
}

.sidebar-navrail-btn-active > box > label:first-child {
  background-color: material.$secondaryContainer;
  color: material.$onSecondaryContainer;
}

.sidebar-navrail-btn-active:hover > box > label:first-child,
.sidebar-navrail-btn-active:focus > box > label:first-child {
  background-color: color.mix(
    material.$secondaryContainer,
    colors.$layer1Hover,
    90%
  );
  color: color.mix(material.$onSecondaryContainer, colors.$layer1Hover, 90%);
}

.sidebar-sysinfo-grouppad {
  padding: 1.159rem;
}

.sidebar-memory-ram-circprog {
  @include mixins.fluent_decel_long;
  min-width: mixins.$rounding_small;
  min-height: 4.091rem;
  padding: 0.409rem;
  background-color: material.$secondaryContainer;
  color: material.$onSecondaryContainer;
  font-size: 0px;
}

.sidebar-memory-swap-circprog {
  @include mixins.fluent_decel_long;
  min-width: mixins.$rounding_small;
  min-height: 2.255rem;
  padding: 0.409rem;
  margin: 0.918rem;
  background-color: material.$secondaryContainer;
  color: material.$onSecondaryContainer;
  font-size: 0px;
}

.sidebar-cpu-circprog {
  min-width: mixins.$rounding_small;
  min-height: 3.409rem;
  padding: 0.409rem;
  background-color: material.$secondaryContainer;
  color: material.$onSecondaryContainer;
  @include mixins.fluent_decel_long;
  font-size: 0px;
}

.sidebar-scrollbar {
  trough {
    @include mixins.full-rounding;
    min-width: 0.545rem;
    background-color: transparent;
  }

  slider {
    @include mixins.full-rounding;
    @include mixins.element_decel;
    min-width: 0.273rem;
    min-height: 2.045rem;
    background-color: color.adjust(material.$onSurfaceVariant, $alpha: -0.7);
  }

  slider:hover,
  slider:focus {
    background-color: color.adjust(material.$onSurfaceVariant, $alpha: -0.6);
  }

  slider:active {
    background-color: color.adjust(material.$onSurface, $alpha: -0.5);
  }
}

.sidebar-calendar-btn {
  @include mixins.full-rounding;
  @include mixins.element_decel;
  min-height: 2.523rem;
  min-width: 2.523rem;
  color: material.$onSurface;
}

.sidebar-calendar-btn:hover,
.sidebar-calendar-btn:focus {
  background-color: mixins.$hovercolor;
}

.sidebar-calendar-btn:active {
  background-color: mixins.$activecolor;
}

.sidebar-calendar-btn-txt {
  margin-left: -10.341rem;
  margin-right: -10.341rem;
}

.sidebar-calendar-btn-today {
  background-color: material.$primary;
  color: material.$onPrimary;
}

.sidebar-calendar-btn-today:hover,
.sidebar-calendar-btn-today:focus {
  background-color: color.mix(material.$primary, mixins.$hovercolor, 70%);
}

.sidebar-calendar-btn-today:active {
  background-color: color.mix(material.$primary, mixins.$hovercolor, 40%);
}

.sidebar-calendar-btn-othermonth {
  color: material.$outline;
}

.sidebar-calendar-header {
  margin: 0.341rem;
}

.sidebar-calendar-monthyear-btn {
  @include mixins.full-rounding;
  @include mixins.element_decel;
  padding: 0rem 0.682rem;
  background-color: colors.$layer2;
  color: material.$onSurface;
}

.sidebar-calendar-monthyear-btn:hover,
.sidebar-calendar-monthyear-btn:focus {
  background-color: mixins.$hovercolor;
}

.sidebar-calendar-monthyear-btn:active {
  background-color: mixins.$activecolor;
}

.sidebar-calendar-monthshift-btn {
  @include mixins.full-rounding;
  @include mixins.element_decel;
  min-width: 2.045rem;
  min-height: 2.045rem;
  background-color: colors.$layer2;
  color: material.$outline;
}

.sidebar-calendar-monthshift-btn:hover {
  background-color: mixins.$hovercolor;
}

.sidebar-calendar-monthshift-btn:active {
  background-color: mixins.$activecolor;
}

.sidebar-todo-item {
  @include mixins.small-rounding;
  margin-right: 0.545rem;
  // padding: 0.341rem;
  background-color: colors.$layer2;
  color: colors.$onLayer2;
}

.sidebar-todo-txt {
  margin: 0.682rem;
  margin-bottom: 0rem;
}

.sidebar-todo-actions {
  margin: 0.341rem;
  margin-top: 0rem;
  margin-right: 0rem;
}

.sidebar-todo-item-action {
  @include mixins.element_decel;
  border-radius: 9999px;
  min-width: 1.705rem;
  min-height: 1.705rem;
}

.sidebar-todo-item-action:hover,
.sidebar-todo-item-action:focus {
  background-color: colors.$layer2Hover;
}

.sidebar-todo-item-action:active {
  background-color: colors.$layer2Active;
}

.sidebar-todo-crosser {
  transition:
    margin 200ms cubic-bezier(0.1, 1, 0, 1),
    background-color 0ms;
  min-width: 0rem;
}

.sidebar-todo-crosser-crossed {
  background-color: material.$onBackground;
}

.sidebar-todo-crosser-removed {
  background-color: material.$error;
}

.sidebar-todo-new {
  @include mixins.full-rounding;
  @include mixins.element_decel;
  background-color: colors.$layer2;
  color: colors.$onLayer2;
  margin: 0.341rem;
  padding: 0.205rem 0.545rem;
}

.sidebar-todo-new,
.sidebar-todo-new:focus {
  color: material.$onSecondaryContainer;
  background-color: material.$secondaryContainer;
}

.sidebar-todo-new:active {
  color: material.$onPrimaryContainer;
  background-color: material.$primaryContainer;
}

.sidebar-todo-add {
  @include mixins.element_decel;
  @include mixins.small-rounding;
  min-width: 1.705rem;
  min-height: 1.705rem;
  color: material.$onSecondaryContainer;
  border: 0.068rem solid material.$onSurface;
}

.sidebar-todo-add:hover,
.sidebar-todo-add:focus {
  background-color: material.$surfaceContainerHigh;
}

.sidebar-todo-add:active {
  background-color: material.$surfaceContainerHighest;
}

.sidebar-todo-add-available {
  @include mixins.element_decel;
  @include mixins.small-rounding;
  min-width: 1.705rem;
  min-height: 1.705rem;
  background-color: material.$primary;
  color: material.$onPrimary;
  border: 0.068rem solid material.$primary;
}

.sidebar-todo-add-available:hover,
.sidebar-todo-add-available:focus {
  background-color: color.mix(material.$primary, mixins.$hovercolor, 70%);
}

.sidebar-todo-add-available:active {
  background-color: color.mix(material.$primary, mixins.$hovercolor, 40%);
}

.sidebar-todo-entry {
  @include mixins.element_decel;
  @include mixins.small-rounding;
  background-color: material.$surfaceVariant;
  color: material.$onSurfaceVariant;
  caret-color: material.$onSurfaceVariant;
  margin: 0rem 0.341rem;
  min-height: 1.773rem;
  min-width: 0rem;
  padding: 0.205rem 0.682rem;
  border: 0.068rem solid material.$outline;
}

.sidebar-todo-entry:focus {
  border: 0.068rem solid material.$onSurfaceVariant;
}

.sidebar-module {
  @include mixins.normal-rounding;
  @include group-padding;
  background-color: colors.$layer1;
  padding: 0.682rem;
}

.sidebar-module-btn-arrow {
  @include mixins.full-rounding;
  @include mixins.icon-material;
  background-color: colors.$layer2;
  min-width: 1.705rem;
  min-height: 1.705rem;

  &:hover,
  &:focus {
    background-color: colors.$layer2Hover;
  }

  &:active {
    background-color: colors.$layer2Active;
  }
}

.sidebar-module-scripts-button {
  @include mixins.full-rounding;
  @include mixins.icon-material;
  background-color: colors.$layer1;
  min-width: 1.705rem;
  min-height: 1.705rem;

  &:hover,
  &:focus {
    background-color: colors.$layer1Hover;
  }

  &:active {
    background-color: colors.$layer1Active;
  }
}

$colorpicker_rounding: 0.341rem;

.sidebar-module-colorpicker-wrapper {
  padding: 0.341rem;
}

.sidebar-module-colorpicker-cursorwrapper {
  padding: 0.341rem 0.136rem;
}

.sidebar-module-colorpicker-hue {
  min-height: 13.636rem;
  min-width: 1.091rem;
  border-radius: $colorpicker_rounding;
}

.sidebar-module-colorpicker-hue-cursor {
  background-color: material.$onBackground;
  border: 0.136rem solid material.$onBackground;
  min-height: 0.136rem;
  margin-top: -0.136rem;
  border-radius: $colorpicker_rounding;
}

.sidebar-module-colorpicker-saturationandlightness-wrapper {
  padding: 0.341rem;
}

.sidebar-module-colorpicker-saturationandlightness {
  min-height: 13.636rem;
  min-width: 13.636rem;
  border-radius: $colorpicker_rounding;
}

.sidebar-module-colorpicker-saturationandlightness-cursorwrapper {
  padding: 0.341rem;
  margin-top: -0.409rem;
  margin-left: -0.409rem;
}

.sidebar-module-colorpicker-saturationandlightness-cursor {
  @include mixins.full-rounding;
  border: 0.136rem solid white;
  min-width: 0.682rem;
  min-height: 0.682rem;
  margin-top: -0.409rem;
  margin-left: -0.409rem;
}

.sidebar-module-colorpicker-result-area {
  padding: 0.341rem;
}

.sidebar-module-colorpicker-result-box {
  border-radius: $colorpicker_rounding;
  min-width: 2.045rem;
  min-height: 0.682rem;
  padding: 0.341rem;
}

.sidebar-icontabswitcher {
  @include mixins.full-rounding;
  @include group-padding;
  background-color: colors.$layer1;
}

.sidebar-chat-providerswitcher {
  @include mixins.small-rounding;
  padding: 0.477rem 0.682rem;
  background-color: material.$surfaceContainerHigh;
  color: material.$onSurfaceVariant;
}

.sidebar-chat-viewport {
  @include mixins.element_decel;
  padding: 0.682rem 0rem;
}

.sidebar-chat-textarea {
  @include mixins.normal-rounding;
  background-color: colors.$layer1;
  color: colors.$onLayer1;
  padding: 0.682rem;
}

.sidebar-chat-entry {
  color: material.$onSurfaceVariant;
  caret-color: material.$onSurfaceVariant;
  min-height: 1.773rem;
  min-width: 0rem;
}

.sidebar-chat-wrapper {
  transition: 400ms cubic-bezier(0.1, 1, 0, 1);
}

.sidebar-chat-wrapper-extended {
  min-height: 7.5rem;
}

.sidebar-chat-send {
  @include mixins.element_decel;
  min-width: 1.705rem;
  min-height: 1.705rem;
  border-radius: mixins.$rounding_medium - 0.681rem;
}

.sidebar-chat-send:hover,
.sidebar-chat-send:focus {
  background-color: material.$surfaceBright;
}

.sidebar-chat-send:active {
  background-color: material.$surfaceVariant;
}

.sidebar-chat-send-available {
  background-color: material.$primary;
  color: material.$onPrimary;
}

.sidebar-chat-send-available:hover,
.sidebar-chat-send-available:focus {
  background-color: color.mix(material.$primary, mixins.$hovercolor, 70%);
}

.sidebar-chat-send-available:active {
  background-color: color.mix(material.$primary, mixins.$hovercolor, 40%);
}

.sidebar-chat-messagearea {
  margin: 0.341rem;
}

.sidebar-chat-message {
  @include mixins.normal-rounding;
  @include group-padding;
  background-color: colors.$layer1;
}

$skeleton-accent: color.mix(material.$secondary, material.$onSecondary, 50%);

@keyframes sidebar-chat-message-skeletonline-anim {
  0% {
    background-position: 175% 0%;
  }

  100% {
    background-position: 50% 0%;
  }
}

.sidebar-chat-message-skeletonline {
  border-radius: mixins.$rounding_verysmall;
  min-height: 1.364rem;
  background-color: colors.$layer2;
}

.sidebar-chat-message-skeletonline-offset0 {
  background-repeat: no-repeat;
  background: linear-gradient(
    to right,
    colors.$layer3 0%,
    $skeleton-accent 25%,
    colors.$layer3 50%,
    colors.$layer3 100%
  );
  background-size: 500% 500%;
  animation: sidebar-chat-message-skeletonline-anim 2s linear;
  animation-iteration-count: infinite;
}

.sidebar-chat-message-skeletonline-offset1 {
  background-repeat: no-repeat;
  background: linear-gradient(
    to right,
    colors.$layer3 0%,
    colors.$layer3 50%,
    $skeleton-accent 75%,
    colors.$layer3 100%
  );
  background-size: 500% 500%;
  animation: sidebar-chat-message-skeletonline-anim 2s linear;
  animation-iteration-count: infinite;
}

.sidebar-chat-message-skeletonline-offset2 {
  margin-right: 5.795rem;
  background-repeat: no-repeat;
  background: linear-gradient(
    to right,
    colors.$layer3 0%,
    colors.$layer3 25%,
    $skeleton-accent 50%,
    colors.$layer3 75%,
    colors.$layer3 100%
  );
  background-size: 500% 500%;
  animation: sidebar-chat-message-skeletonline-anim 2s linear;
  animation-iteration-count: infinite;
}

.sidebar-chat-indicator {
  @include mixins.element_decel;
  @include mixins.full-rounding;
  min-width: 0.136rem;
}

.sidebar-chat-indicator-waifu {
  @include mixins.element_decel;
  @include mixins.full-rounding;
  min-width: 0.136rem;
  background-color: material.$onBackground;
}

.sidebar-chat-name {
  @include mixins.titlefont;
  @include mixins.small-rounding;
  padding: 0.341rem 0.818rem;
  margin: 0.341rem;
  background-color: colors.$layer2;
  color: colors.$onLayer2;
}

.sidebar-chat-name-user {
  background-color: colors.$layer2;
  color: colors.$onLayer2;
}

.sidebar-chat-name-bot {
  background-color: material.$secondary;
  color: material.$onSecondary;
}

.sidebar-chat-name-system {
  background-color: material.$secondaryContainer;
  color: material.$onSecondaryContainer;
}

.sidebar-chat-txtblock {
  margin-left: -0.136rem;
  padding: 0.341rem;
  padding-left: 0.818rem;
}

.sidebar-chat-txt {
  @include mixins.readingfont;
}

.sidebar-chat-latex {
  @include mixins.small-rounding;
  margin: 0rem 0.682rem;
  padding: 0.682rem;
  color: material.$onBackground;
}

.sidebar-chat-codeblock {
  @include mixins.normal-rounding;
  background-color: colors.$layer2;
  color: colors.$onLayer2;
  margin: 0rem 0.682rem;
}

.sidebar-chat-codeblock-topbar {
  @include mixins.mainfont;
  background-color: colors.$layer3;
  color: colors.$onLayer3;
  border-top-left-radius: mixins.$rounding_small;
  border-top-right-radius: mixins.$rounding_small;
  padding: 0.341rem 0.477rem;
}

.sidebar-chat-codeblock-topbar-txt {
  @include mixins.full-rounding;
  padding: 0.273rem;
}

.sidebar-chat-codeblock-topbar-btn {
  @include mixins.full-rounding;
  @include mixins.element_decel;
  padding: 0.273rem 0.477rem;
}

.sidebar-chat-codeblock-topbar-btn:hover,
.sidebar-chat-codeblock-topbar-btn:focus {
  background-color: material.$surfaceBright;
}

.sidebar-chat-codeblock-topbar-btn:active {
  background-color: material.$surfaceVariant;
}

.sidebar-chat-codeblock-code {
  padding: 0.682rem;
  @include mixins.techfont;
}

.sidebar-chat-divider {
  min-height: 1px;
  background-color: $sidebar_chat_textboxareaColor;
  margin: 0rem 0.545rem;
}

.sidebar-chat-welcome-txt {
  margin: 0rem 3.409rem;
}

.sidebar-chat-settings-toggles {
  margin: 0rem 5.455rem;
}

.sidebar-chat-welcome-icon {
  @include mixins.full-rounding;
  font-size: 4rem;
}

.sidebar-chat-welcome-logo {
  @include mixins.full-rounding;
  @include mixins.element_decel;
  @include mixins.icon-material;
  min-height: 4.773rem;
  min-width: 4.773rem;
  font-size: 3.076rem;
  background-color: material.$secondaryContainer;
  color: material.$onSecondaryContainer;
}

.sidebar-chat-chip {
  @include mixins.element_decel;
  @include mixins.small-rounding;
  padding: 0.341rem 0.477rem;
}

.sidebar-chat-chip-action {
  @include mixins.element_decel;
  background-color: colors.$layer2;
  color: material.$onSurfaceVariant;
}

.sidebar-chat-chip-action:hover,
.sidebar-chat-chip-action:focus {
  background-color: mixins.$hovercolor;
}

.sidebar-chat-chip-action:active {
  background-color: mixins.$activecolor;
}

.sidebar-chat-chip-action-active {
  color: $sidebar_chat_textboxareaColor;
  border: 0.068rem solid $sidebar_chat_textboxareaColor;
}

.sidebar-chat-chip-toggle {
  @include mixins.element_decel;
  @include mixins.small-rounding;
  padding: 0.341rem 0.477rem;
  background-color: colors.$layer3;
  color: material.$onSurfaceVariant;
}

.sidebar-chat-chip-toggle:focus,
.sidebar-chat-chip-toggle:hover {
  background-color: mixins.$hovercolor;
}

.sidebar-chat-chip-toggle:active {
  background-color: mixins.$activecolor;
}

.sidebar-pin {
  @include mixins.small-rounding;
  @include mixins.element_decel;
  min-height: 2.386rem;
  min-width: 2.386rem;
  color: material.$onSurface;
}

.sidebar-pin:hover,
.sidebar-pin:focus {
  background-color: mixins.$hovercolor;
}

.sidebar-pin:active {
  background-color: mixins.$activecolor;
}

.sidebar-pin-enabled {
  background-color: material.$primary;

  label {
    color: material.$onPrimary;
  }
}

.sidebar-pin-enabled:hover,
.sidebar-pin-enabled:focus {
  background-color: color.mix(material.$primary, mixins.$hovercolor, 70%);
}

.sidebar-pin-enabled:active {
  background-color: color.mix(material.$primary, mixins.$hovercolor, 40%);
}

.sidebar-waifu-heading {
  @include mixins.titlefont;
  padding: 0.341rem;
  margin-left: -0.136rem;
  padding-left: 0.818rem;
}

.sidebar-waifu-txt {
  @include mixins.mainfont;
}

.sidebar-waifu-image {
  @include mixins.normal-rounding;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.sidebar-waifu-image-actions {
  @include mixins.element_decel;
  padding: 0.313rem;
}

$waifu_image_overlay_transparency: 0.7;

.sidebar-waifu-image-action {
  @include mixins.full-rounding;
  min-width: 1.875rem;
  min-height: 1.875rem;
  background-color: rgba(
    0,
    0,
    0,
    $waifu_image_overlay_transparency
  ); // Fixed cuz on image
  color: rgba(255, 255, 255, $waifu_image_overlay_transparency);
}

.sidebar-waifu-image-action:hover,
.sidebar-waifu-image-action:focus {
  background-color: rgba(30, 30, 30, $waifu_image_overlay_transparency);
}

.sidebar-waifu-image-action:active {
  background-color: rgba(60, 60, 60, $waifu_image_overlay_transparency);
}

.sidebar-booru-provider {
  @include mixins.titlefont;
  @include mixins.small-rounding;
  padding: 0.341rem 0.818rem;
  margin: 0.341rem;
  font-weight: bold;
  background-color: material.$primary;
  color: material.$onPrimary;
}

.sidebar-booru-imagegrid {
  @include mixins.normal-rounding;
}

.sidebar-booru-image {
  @include mixins.small-rounding;
  margin: 0.273rem;
  min-width: 11.932rem;
  // background-color: rgba(100, 200, 0, 0.3);
}

.sidebar-booru-image-drawingarea {
  // background-color: rgba(200, 100, 0, 0.3);
  @include mixins.small-rounding;
  min-width: 12.273rem;
  min-height: 12.273rem;
}

.sidebar-booru-image-actions {
  // background-color: rgba(100, 100, 0, 0.3);
  @include mixins.element_decel;
  margin: 0.545rem;
}

.sidebar-volmixer-stream {
  border-bottom: 0.068rem solid material.$outlineVariant;
  padding: 0.682rem;
  color: material.$onSurface;
}

.sidebar-volmixer-stream-appicon {
  font-size: 3.273rem;
}

.sidebar-volmixer-stream-slider {
  trough {
    border-radius: mixins.$rounding_verysmall;
    min-height: 1.364rem;
    min-width: 1.364rem;
    background-color: material.$secondaryContainer;
  }

  highlight {
    border-radius: mixins.$rounding_verysmall;
    min-height: 1.364rem;
    min-width: 1.364rem;
    background-color: material.$primary;
  }

  slider {
    border-radius: mixins.$rounding_verysmall;
    min-height: 1.364rem;
    min-width: 1.364rem;
  }
}

.sidebar-volmixer-status {
  color: material.$onSurface;
  margin: 0rem 0.682rem;
}

.sidebar-volmixer-deviceselector {
  @include mixins.small-rounding;
  padding: 0.477rem 0.682rem;
  background-color: material.$surfaceContainerHigh;
  color: material.$onSurfaceVariant;
}

.sidebar-bluetooth-device {
  padding: 0.682rem;
  @include mixins.normal-rounding;
  background-color: colors.$layer2;
  color: colors.$onLayer2;
}

.sidebar-bluetooth-appicon {
  @include mixins.symbolic-icon;
  font-size: 2.045rem;
}

.sidebar-bluetooth-device-remove {
  @include mixins.full-rounding;
  min-width: 2.045rem;
  min-height: 2.045rem;
  // background-color: $layer3;
  padding: 0.341rem;
}

.sidebar-bluetooth-device-remove:hover,
.sidebar-bluetooth-device-remove:focus {
  @include mixins.full-rounding;
  background-color: colors.$layer2Hover;
  padding: 0.341rem;
}

.sidebar-wifinetworks-network {
  padding: 0.682rem;
  @include mixins.normal-rounding;
  background-color: colors.$layer2;
  color: colors.$onLayer2;
}

.sidebar-wifinetworks-network:hover,
.sidebar-wifinetworks-network:focus {
  background-color: colors.$layer2Hover;
}

.sidebar-wifinetworks-network:active {
  background-color: colors.$layer2Active;
}

.sidebar-wifinetworks-signal {
  @include mixins.symbolic-icon;
  font-size: 2.045rem;
}

.sidebar-wifinetworks-auth-entry {
  @include mixins.small-rounding;
  background-color: colors.$layer1;
  color: colors.$onLayer1;
  padding: 0.682rem;
}

.sidebar-centermodules-bottombar-button {
  @include mixins.full-rounding;
  @include mixins.element_decel;
  min-width: 6.818rem;
  min-height: 2.25rem;
  background-color: colors.$layer2;
  color: colors.$onLayer2;
}

.sidebar-centermodules-bottombar-button:hover,
.sidebar-centermodules-bottombar-button:focus {
  background-color: colors.$layer2Hover;
}

.sidebar-centermodules-bottombar-button:active {
  background-color: colors.$layer2Active;
}

.sidebar-centermodules-scrollgradient-bottom {
  background: linear-gradient(
    to top,
    colors.$layer1 0%,
    color.adjust($color: colors.$layer1, $alpha: -1) 1.023rem
  );
}
