$darkmode: True;
$transparent: False;
$primary_paletteKeyColor: #02dcff;
$secondary_paletteKeyColor: #597b8f;
$tertiary_paletteKeyColor: #557aa1;
$neutral_paletteKeyColor: #6d797d;
$neutral_variant_paletteKeyColor: #6a7a7f;
$background: #091518;
$onBackground: #d8e5e9;
$surface: #091518;
$surfaceDim: #091518;
$surfaceBright: #2f3b3f;
$surfaceContainerLowest: #051013;
$surfaceContainerLow: #121d21;
$surfaceContainer: #162125;
$surfaceContainerHigh: #202c2f;
$surfaceContainerHighest: #2b373a;
$onSurface: #d8e5e9;
$surfaceVariant: #3a494e;
$onSurfaceVariant: #b9c9ce;
$inverseSurface: #d8e5e9;
$inverseOnSurface: #273236;
$outline: #839398;
$outlineVariant: #3a494e;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #00d9fc;
$primary: #00d9fc;
$onPrimary: #003640;
$primaryContainer: #004e5c;
$onPrimaryContainer: #aaedff;
$inversePrimary: #006879;
$secondary: #a8cbe2;
$onSecondary: #0d3446;
$secondaryContainer: #2a4d60;
$onSecondaryContainer: #c7e9ff;
$tertiary: #a4caf5;
$onTertiary: #003256;
$tertiaryContainer: #6f94bc;
$onTertiaryContainer: #000000;
$error: #ffb4ab;
$onError: #690005;
$errorContainer: #93000a;
$onErrorContainer: #ffdad6;
$primaryFixed: #aaedff;
$primaryFixedDim: #00d9fc;
$onPrimaryFixed: #001f26;
$onPrimaryFixedVariant: #004e5c;
$secondaryFixed: #c4e7ff;
$secondaryFixedDim: #a8cbe2;
$onSecondaryFixed: #001e2c;
$onSecondaryFixedVariant: #284b5d;
$tertiaryFixed: #d0e4ff;
$tertiaryFixedDim: #a4caf5;
$onTertiaryFixed: #001d34;
$onTertiaryFixedVariant: #21496e;
$success: #b5ccba;
$onSuccess: #213528;
$successContainer: #374b3e;
$onSuccessContainer: #d1e9d6;
$term0: #0e1c21;
$term1: #8383ff;
$term2: #63dedb;
$term3: #75fcdd;
$term4: #78b4c1;
$term5: #7aaeea;
$term6: #81d7de;
$term7: #ccdbd5;
$term8: #b1bcb5;
$term9: #bcb9ff;
$term10: #f4fffe;
$term11: #ffffff;
$term12: #bee3e8;
$term13: #c8daff;
$term14: #eafeff;
$term15: #b0ecfc;
